
{% extends "basetemplate.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
       <h2> Time Stamped Expected Arrivals</h2>
       {% for info in information %}
        <a href="#panel{{ info.tfl_id }}" class="btn btn-primary main-tab" data-toggle="collapse">
            <b>TIME STAMP:</b> {{info.timestamp}} <b>EXPECTED ARRIVAL:</b> {{info.expectedArrival}}  CLICK FOR MORE....</a>
        <div id="panel{{ info.tfl_id }}" class="collapse">
         <div class="info-text">
             <p><b>timestamp: {{info.timestamp}}</p></b>
             <p><b>vehicleId: {{info.vehicleId}}</p></b>
             <p><b>towards: {{info.towards}}</p></b>
             <p><b>bearing: {{info.bearing}}</p></b>
             <p><b>currentLocation: {{info.currentLocation}}</p></b>
             <p><b>destinationName: {{info.destinationName}}</p></b>
             <p><b>destinationNaptanId: {{info.destinationNaptanId}}</p></b>
             <p><b>direction: {{info.direction}}</p></b>
             <p><b>expectedArrival: {{info.expectedArrival}}</p></b>
             <p><b>id: {{info.id}}</p></b>
             <p><b>lineId: {{info.lineId}}</p></b>
             <p><b>lineName: {{info.lineName}}</p></b>
             <p><b>modeName: {{info.modeName}}</p></b>
             <p><b>naptanId: {{info.naptanId}}</p></b>
             <p><b>operationType: {{info.operationType}}</p></b>
             <p><b>platformName: {{info.platformName}}</p></b>
             <p><b>stationName: {{info.stationName}}</p></b>
             <p><b>timeToLive: {{info.timeToLive}}</p></b>
             <p><b>timing_countdownServerAdjustment: {{info.timing_countdownServerAdjustment}}</p></b>
             <p><b>timing_insert: {{info.timing_insert}}</p></b>
             <p><b>timing_read: {{info.timing_read}}</p></b>
             <p><b>timing_received: {{info.timing_received}}</p></b>
             <p><b>timing_sent: {{info.timing_sent}}</p></b>
             <p><b>timing_source: {{info.timing_source}}</p></b>
         </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
