.main-tab {
    background-color: #113b92;
    font-family:"helvetica neue", arial, verdana, sans-serif;
    margin-bottom: 5px;
}

.main-butt-panel {
    display: inline-block;
}
.panel-body{
    overflow-y: scroll;
}
.info-text {
    padding: 15px;
    font-size:20px;
    margin-left: 20%;
    width: 70%;
}

.collapse.in {
    overflow-y: scroll;
    width:90%;

}
.collapse {

}
